{% extends '_base/_page-nav.twig' %}

{#=== Options ============================================================================#}

{% if data is not defined or data is not iterable %}
    {% set data = [] %}
{% endif %}

{#=== FIELDSET ============================================================================#}


{% block page_nav 'Chmodinator' %}

{% block page_title __('Chmødïna✝oR!!1 🤘') %}

{% block page_main %}

    <p>
        <a href="{{ path('chmodinator.check') }}" class="btn btn-primary" id="check-button" type="submit">
            <i class='fa fa-rotate-left'></i> Check cache files
        </a> &nbsp;
        <a href="{{ path('chmodinator.fix') }}" class="btn btn-tertiary" id="fix-button" type="submit">
            <i class='fa fa-rotate-right'></i> Fix files
        </a>
        <a href="{{ path('chmodinator.wipe') }}" class="btn btn-tertiary" id="fix-button" type="submit">
            <i class='fa fa-rotate-right'></i> Wipe files
        </a>
    </p>

<style>
.files-listing {
    background-color: #F2F2F2;
    color: #555;
    display: block;
    white-space: pre;
    padding: 2px 4px;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
}

i.green {
    color: #484;
}

i.red {
    color: #F22;
}


</style>

{% if msg|default() is not empty %}
    <p style='max-width: 42em;'>
        {{ msg|raw }}
    </p>
{% endif %}

{% if files|default() is not empty %}
<div class='files-listing'>
{{ files|raw }}
</div>
{% endif %}



{% endblock page_main %}
